  footer {
  background-color: rgb(102, 153, 204);
  height: 90px;
  display: flex;
  justify-content: center;
}
footer ul {
  display: flex;
  list-style: none;
}

footer li::after {
  content: '|';
  margin: 1.0rem;
  color: black;
}

footer a:hover {
  color: green;
}

.pinkpara {
  background-color: pink;
  border:2px;
  border-style:solid;
  border-color:#000;
  margin: 10px;
  color: white;
}

#sky {
  border: 2px solid #8922b9;
}

.container {
        display: flex;
        align-items: center;
        justify-content: center
      }
      img {
        max-width: 100%
      }
      .image {
        flex-basis: 40%
      }
      .text {
        font-size: 20px;
        padding-left: 20px;
      }
.newsfeed {
  text-indent: 50px;
}

th {
  background-color: #a3ffc3;
}

.cost{
  border: solid;
}
