/*This is for all pages*/
html, body {
  height: 99%;
  width: 99%;
  margin: 10px
}

h1{
  text-align: center;
}

footer {
height: 90px;
display: flex;
justify-content: center;
}

footer ul {
display: flex;
list-style: none;
}

footer li::after {
content: '|';
margin: 1.0rem;
color: black;
}

footer a:hover {
color: green;
}


/*This is for index page*/
#mainpara{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  position: relative;
  background-color: pink;
  color: white;
  height: 620px;
  padding: 0px 60px 40px 60px;
}

#mainpara p {
  font-size: 17px;
}

#mainpara img {
  border: 3px solid #8922b9;
}

.skyimg{
  width: 30%;
  box-sizing: border-box;
  float: left;
  margin: 0px 60px 0px 0px;
}

.skyimg img{
  width: 100%;
  box-sizing: border-box;
  max-width: 300px;
}

.waterfall{
  width: 30%;
  box-sizing: border-box;
  float: right;
  margin: 0px 0px 0px 60px;
}

.waterfall img{
  width: 100%;
  box-sizing: border-box;
  max-width: 300px;
}

.waterfall p {
  float: right;
}

/*this is  for the alignment of the boxes in the northerlights and hiking page */
.box{
  float: left;
  text-align: center;
  margin: 1%;
  width: 30%;
}

/*this is  for the contact page */
th {
  background-color: #a3ffc3;
}

.cost{
  border: solid;
}
