html, body {
  height: 100%;
  width: 100%;
}

#topnav {
  text-align: center;
}

ul.tn {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table, th, td {
  border:1px solid black;
}

table{
  background-color: yellow;
  text-align: center;
}
#botrow{
  background-color: #f5d6db;
}

#p1 {
  border-style: solid;
  border-color: red;
  padding:13px 0px 0px 0px;
  width: 97%;
}

#p2{
  height: 150px;
  border-style: solid;
  border-width: thin;
  width: 600px;
}

div.scroll_A1 {
  color: black;
  width: 600px;
  height: 350px;
  overflow: scroll;
  position: relative;
  border-style: inset;
  border-width: 3px 0px 0px 3px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#googlelink {
  color: #f98699;
  background-color: transparent;
  text-decoration: underline;
}

#images {
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  position: relative;
  left: 80px;
}

.box{
  float: left;
  margin: 2%;
  width: 420px;
  border-style: solid;
  border-color: gold;
  border-radius: 10px;
}

#image {
  border-radius: 10px;
}
